.loginContainer {
    height: 100vh;
    display: grid;
    place-content: center;
}

.login-card {
    width: 360px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 3px 3px 8px gray;
}

.inputs {
    background-color: transparent;
    color: black;
    height: 45px;
    width: 100%;
    border: 1px solid rgb(128, 128, 128, 0.8);
    border-radius: 8px;
    padding: 8px;
}

.inputs:focus {
    border: 1px solid blue;
    outline: none;
}

.submit-btn {
    background-color: #1e81b0;
    border: none;
    width: 100%;
    border-radius: 8px;
}